.addressCardContainer {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
} 

.addressCardData {
  width: 40%;
  text-align: center;
  padding-top: 10px;
  background-color: var(----color-light-spring-green);
  

    &:first-child {
    width: 27%;
  }
}

.buttonsContainer {
 width: 20px;
 height: 20px;
}

.button {
  cursor: pointer;
}