.createPageContainer{
    width: 90%;
    margin-top: 40px;
}
.createFormWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    gap: 20px;
    width: 60%;
    height: 300px;
    background-color: var(--color-silver-gray);
    border-radius: 12px;
    border: 1px solid black
}

.createFormContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 52px 0;

    @media (max-width: 1300px) {
        & {
            width: 98%;
        }
    }
}

.inputWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}

.input {
    height: 36px;
    border-radius: 6px;

    @media (max-width: 1300px) {
        & {
            font-size: x-small;
        }
    }

    @media (max-width: 930px) {
        & {
            font-size: xx-small;
        }
        
    }
}

.createButton {
    width: 30%;
    height: 42px;
    background: var(--color-jasmine);
    border-radius: 8px;
    margin-top: 10px;
    font-size: large;
    cursor: pointer;

    @media (max-width: 1000px) {
        & {
            font-size: small;
        }
    }
}

.responseContainer{
    margin-inline: auto;
    width: 40%;
}

.responseTitle{
    text-align: center;
    margin-bottom: 20px;
}